<div ng-controller="CompanyPageCtrl as vm">
    <div class="jumbotron">
        <p>Id: {{vm.company.id}}</p>
        <p>Name: {{vm.company.name}}</p>
        <p>Description: {{vm.company.description}}</p>
    </div>
</div>
